openapi: 3.1.0
info:
  title: Clippsly Listener API
  version: 0.2.0
  summary: HTTP contracts for the listener portal and App Password API
  description: |
    This document describes the website-session API calls made by
    `internal/api/listener/index.php` and the documented listener App Password
    endpoints below `https://listener.clippsly.app/v1/`.

    Unless a portal operation is explicitly marked public, pass the website session
    token (the value of the `CLIPSESSIONTOKEN` cookie) as a Bearer token. App
    Passwords are not accepted by portal endpoints. Operations tagged `Listener v1`
    instead require a listener App Password as a Bearer token.
servers:
  - url: https://api.clippsly.app
    description: Production API
tags:
  - name: Portal
  - name: Uploads
  - name: Encoding
  - name: Storage
  - name: App Passwords
  - name: Library
  - name: Albums
  - name: Playlists
  - name: Migrations
  - name: Membership and payments
  - name: Account
  - name: Listener v1
security:
  - websiteSession: []
paths:
  /endpoints/visual/creators:
    get:
      tags: [Portal]
      summary: Get public creator and highlighted-track data
      operationId: getCreatorShowcase
      security: []
      responses:
        '200':
          description: Public platform statistics and showcase data
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreatorShowcase'
        '500':
          $ref: '#/components/responses/ServerError'

  /endpoints/data/track-encode-status:
    get:
      tags: [Encoding]
      summary: Poll an upload encoding job
      operationId: getTrackEncodeStatus
      parameters:
        - name: job
          in: query
          required: true
          description: Lowercase hexadecimal encoding-job identifier.
          schema:
            type: string
            pattern: '^[a-f0-9]{1,12}$'
      responses:
        '200':
          description: Current job and per-track variant state
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EncodeJob'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/ServerError'

  /endpoints/data/track-encode-progress:
    get:
      tags: [Encoding]
      summary: Get the authenticated owner's aggregate encoding-queue progress
      operationId: getTrackEncodeProgress
      responses:
        '200':
          description: Job and track totals for the current active encoding window
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EncodingProgress'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '405':
          description: Only GET is supported
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          $ref: '#/components/responses/ServerError'

  /endpoints/listener/uploads/track:
    post:
      tags: [Uploads]
      summary: Upload a private single or album and queue encoding
      operationId: uploadListenerTrack
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/ListenerUploadForm'
      responses:
        '200':
          description: Upload accepted and queued for encoding
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UploadAccepted'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '413':
          description: Upload exceeds the listener's remaining quota
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          $ref: '#/components/responses/ServerError'

  /endpoints/listener/apps/passwords:
    get:
      tags: [App Passwords]
      summary: List active listener App Passwords
      operationId: listListenerAppPasswords
      responses:
        '200':
          description: Active keys; raw secrets are never returned
          content:
            application/json:
              schema:
                type: object
                required: [app_passwords]
                properties:
                  app_passwords:
                    type: array
                    items:
                      $ref: '#/components/schemas/AppPasswordSummary'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
    post:
      tags: [App Passwords]
      summary: Create a listener App Password
      operationId: createListenerAppPassword
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                label:
                  type: string
                  maxLength: 120
                  examples: [Android TV]
      responses:
        '201':
          description: App Password created; the raw key is shown only once
          content:
            application/json:
              schema:
                type: object
                required: [app_password, warning]
                properties:
                  app_password:
                    $ref: '#/components/schemas/AppPasswordCreated'
                  warning:
                    type: string
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
    delete:
      tags: [App Passwords]
      summary: Revoke an App Password
      operationId: revokeListenerAppPassword
      parameters:
        - $ref: '#/components/parameters/IdQuery'
      responses:
        '200':
          description: App Password revoked
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MessageResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'

  /endpoints/listener/storage/regions:
    get:
      tags: [Storage]
      summary: List available upload and migration regions
      operationId: listListenerStorageRegions
      responses:
        '200':
          description: Region configuration safe for client display
          content:
            application/json:
              schema:
                type: object
                required: [regions, default]
                properties:
                  regions:
                    type: array
                    items:
                      $ref: '#/components/schemas/StorageRegion'
                  default:
                    $ref: '#/components/schemas/StorageRegionId'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'

  /endpoints/listener/storage/information:
    get:
      tags: [Storage]
      summary: Get listener storage usage and quota
      operationId: getListenerStorageInformation
      responses:
        '200':
          description: Current quota and usage
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StorageInformation'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'

  /endpoints/listener/storage/pricing:
    get:
      tags: [Storage]
      summary: Get localized storage-purchase constraints
      operationId: getListenerStoragePricing
      responses:
        '200':
          description: Purchase range and display currency
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StoragePricing'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'

  /endpoints/listener/storage/quote:
    post:
      tags: [Storage]
      summary: Quote an additional permanent-storage purchase
      operationId: quoteListenerStorage
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [gb]
              properties:
                gb:
                  type: integer
                  minimum: 8
                  maximum: 100
      responses:
        '200':
          description: Authoritative localized quote
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StorageQuote'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'

  /endpoints/data/economy:
    get:
      tags: [Membership and payments]
      summary: Get membership products and localized prices
      operationId: getListenerEconomy
      responses:
        '200':
          description: Membership state, limits, and products
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Economy'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'

  /endpoints/payments/payment-start:
    post:
      tags: [Membership and payments]
      summary: Start a Stripe or NOWPayments checkout
      operationId: startListenerPayment
      parameters:
        - $ref: '#/components/parameters/IdempotencyKey'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PaymentStartRequest'
      responses:
        '200':
          description: Checkout session created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaymentStartResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '409':
          description: Purchase conflicts with current account state
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '502':
          description: Payment provider could not create a checkout
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /endpoints/settings/update-email:
    post:
      tags: [Account]
      summary: Send an email-change verification message
      operationId: requestListenerEmailChange
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [new_email]
              properties:
                new_email:
                  type: string
                  format: email
      responses:
        '200':
          description: Verification email sent
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MessageResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '403':
          $ref: '#/components/responses/Forbidden'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/ServerError'

  /endpoints/listener/library/singles:
    get:
      tags: [Library]
      summary: List loose tracks in the listener's library
      operationId: listListenerSingles
      parameters:
        - $ref: '#/components/parameters/PageQuery'
        - $ref: '#/components/parameters/LimitQuery'
      responses:
        '200':
          description: Paginated loose tracks
          content:
            application/json:
              schema:
                type: object
                required: [success, singles, pagination]
                properties:
                  success:
                    type: boolean
                    const: true
                  singles:
                    type: array
                    items:
                      $ref: '#/components/schemas/PortalTrack'
                  pagination:
                    $ref: '#/components/schemas/Pagination'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'

  /endpoints/listener/library/albums:
    get:
      tags: [Library, Albums]
      summary: List albums or get one album with tracks
      operationId: getListenerAlbums
      parameters:
        - name: id
          in: query
          required: false
          schema:
            type: integer
            minimum: 1
      responses:
        '200':
          description: Album list when `id` is absent; album detail when it is present
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/AlbumList'
                  - $ref: '#/components/schemas/AlbumDetail'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'

  /endpoints/functions/track-edit:
    post:
      tags: [Library]
      summary: Edit or delete an owned track
      operationId: editListenerTrack
      description: |
        The portal sends JSON for metadata-only edits and deletion, and multipart
        form data when replacing cover art. This is a legacy shared endpoint.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TrackEditRequest'
          multipart/form-data:
            schema:
              type: object
              required: [trackId, trackMetadata]
              properties:
                trackId:
                  type: integer
                action:
                  type: string
                  enum: [update, delete]
                trackMetadata:
                  type: string
                  description: JSON-encoded `TrackMetadata` object.
                artCover:
                  type: string
                  format: binary
      responses:
        '200':
          description: Track edited or deleted
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'

  /endpoints/listener/albums/edit:
    post:
      tags: [Albums]
      summary: Edit an owned listener album
      operationId: editListenerAlbum
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AlbumEditRequest'
          multipart/form-data:
            schema:
              allOf:
                - $ref: '#/components/schemas/AlbumEditRequest'
                - type: object
                  properties:
                    artCover:
                      type: string
                      format: binary
      responses:
        '200':
          description: Album updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessMessageResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '415':
          description: Unsupported cover-art format
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /endpoints/listener/library/album:
    delete:
      tags: [Albums]
      summary: Delete an album and its tracks
      operationId: deleteListenerAlbum
      parameters:
        - $ref: '#/components/parameters/IdQuery'
      responses:
        '200':
          description: Album deleted; response may report partial track cleanup
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AlbumDeleteResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/ServerError'

  /endpoints/listener/albums/attach:
    post:
      tags: [Albums]
      summary: Attach a loose track to an owned album
      operationId: attachListenerTrackToAlbum
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [track_id, album_id]
              properties:
                track_id:
                  type: integer
                  minimum: 1
                album_id:
                  type: integer
                  minimum: 1
      responses:
        '200':
          description: Track attached
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessMessageResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'

  /endpoints/listener/playlists/list:
    get:
      tags: [Playlists]
      summary: List playlists or get one playlist with tracks
      operationId: getListenerPlaylists
      parameters:
        - name: id
          in: query
          required: false
          schema:
            type: integer
            minimum: 1
        - $ref: '#/components/parameters/PageQuery'
        - name: limit
          in: query
          required: false
          description: A value of zero requests up to 500 tracks for playlist detail.
          schema:
            type: integer
            minimum: 0
            maximum: 500
      responses:
        '200':
          description: Playlist list when `id` is absent; detail when it is present
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/PlaylistList'
                  - $ref: '#/components/schemas/PlaylistDetail'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'

  /endpoints/listener/playlists/create:
    post:
      tags: [Playlists]
      summary: Create a listener playlist
      operationId: createListenerPlaylist
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [playlist_name]
              properties:
                playlist_name:
                  type: string
                  minLength: 1
                  maxLength: 255
                playlist_description:
                  type: string
                  maxLength: 1000
                isPrivate:
                  type: integer
                  enum: [1]
      responses:
        '200':
          description: Playlist created
          content:
            application/json:
              schema:
                type: object
                required: [message, playlist_id]
                properties:
                  message:
                    type: string
                  playlist_id:
                    oneOf:
                      - type: integer
                      - type: string
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'

  /endpoints/listener/playlists/edit:
    post:
      tags: [Playlists]
      summary: Edit or delete a listener playlist
      operationId: mutateListenerPlaylist
      requestBody:
        required: true
        content:
          application/json:
            schema:
              oneOf:
                - $ref: '#/components/schemas/PlaylistEditRequest'
                - $ref: '#/components/schemas/PlaylistDeleteRequest'
      responses:
        '200':
          description: Playlist updated or deleted
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MessageResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'

  /endpoints/listener/playlists/tracks:
    post:
      tags: [Playlists]
      summary: Add, remove, or reorder playlist tracks
      operationId: mutateListenerPlaylistTracks
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PlaylistTracksRequest'
      responses:
        '200':
          description: Track operation completed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MessageResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'

  /endpoints/listener/migrations/start:
    post:
      tags: [Migrations]
      summary: Queue storage-region migration jobs
      operationId: startListenerMigration
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MigrationStartRequest'
      responses:
        '200':
          description: Jobs queued, or all selected items were already in the target region
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MigrationStartResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '409':
          description: The listener already has a queued or active migration from one of the requested source regions
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MigrationAlreadyActive'
        '413':
          description: The migration's projected post-move usage exceeds the listener's storage quota
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MigrationQuotaExceeded'
        '500':
          $ref: '#/components/responses/ServerError'

  /endpoints/listener/migrations/progress:
    get:
      tags: [Migrations]
      summary: Get current storage-migration progress
      operationId: getListenerMigrationProgress
      responses:
        '200':
          description: Aggregate progress for the current migration window
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MigrationProgress'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'

  /v1/lyrics:
    get:
      tags: [Listener v1]
      summary: Get lyrics for an owned locker track
      description: Query-parameter alias for `GET /v1/lyrics/{trackId}`.
      operationId: getListenerV1LyricsByQuery
      servers:
        - url: https://listener.clippsly.app
          description: Listener App Password API
      security:
        - listenerAppPassword: []
      parameters:
        - $ref: '#/components/parameters/LyricsTrackIdQuery'
      responses:
        '200':
          $ref: '#/components/responses/ListenerLyrics'
        '400':
          $ref: '#/components/responses/ListenerV1BadRequest'
        '401':
          $ref: '#/components/responses/ListenerV1Unauthorized'
        '403':
          $ref: '#/components/responses/ListenerV1Forbidden'
        '404':
          $ref: '#/components/responses/ListenerV1NotFound'
        '405':
          $ref: '#/components/responses/ListenerV1MethodNotAllowed'
        '500':
          $ref: '#/components/responses/ListenerV1ServerError'

  /v1/lyrics/{trackId}:
    get:
      tags: [Listener v1]
      summary: Get lyrics for an owned locker track
      description: |
        Fetches lyrics transiently from LRCLIB. Synced LRC lyrics are preferred,
        then plain lyrics; instrumental tracks return `instrumental: true` with
        null `lyrics` and `type`. Lyrics are not persisted by Clippsly.
      operationId: getListenerV1Lyrics
      servers:
        - url: https://listener.clippsly.app
          description: Listener App Password API
      security:
        - listenerAppPassword: []
      parameters:
        - $ref: '#/components/parameters/LyricsTrackIdPath'
      responses:
        '200':
          $ref: '#/components/responses/ListenerLyrics'
        '400':
          $ref: '#/components/responses/ListenerV1BadRequest'
        '401':
          $ref: '#/components/responses/ListenerV1Unauthorized'
        '403':
          $ref: '#/components/responses/ListenerV1Forbidden'
        '404':
          $ref: '#/components/responses/ListenerV1NotFound'
        '405':
          $ref: '#/components/responses/ListenerV1MethodNotAllowed'
        '500':
          $ref: '#/components/responses/ListenerV1ServerError'

  /v1/tracks/{trackId}/lyrics:
    get:
      tags: [Listener v1]
      summary: Get lyrics through the track sub-resource
      description: Equivalent to `GET /v1/lyrics/{trackId}`.
      operationId: getListenerV1TrackLyrics
      servers:
        - url: https://listener.clippsly.app
          description: Listener App Password API
      security:
        - listenerAppPassword: []
      parameters:
        - $ref: '#/components/parameters/LyricsTrackIdPath'
      responses:
        '200':
          $ref: '#/components/responses/ListenerLyrics'
        '400':
          $ref: '#/components/responses/ListenerV1BadRequest'
        '401':
          $ref: '#/components/responses/ListenerV1Unauthorized'
        '403':
          $ref: '#/components/responses/ListenerV1Forbidden'
        '404':
          $ref: '#/components/responses/ListenerV1NotFound'
        '405':
          $ref: '#/components/responses/ListenerV1MethodNotAllowed'
        '500':
          $ref: '#/components/responses/ListenerV1ServerError'

components:
  securitySchemes:
    websiteSession:
      type: http
      scheme: bearer
      bearerFormat: CLIPSESSIONTOKEN
      description: Website session token copied from the `CLIPSESSIONTOKEN` cookie.
    listenerAppPassword:
      type: http
      scheme: bearer
      bearerFormat: Clippsly listener App Password
      description: Listener App Password created in the Clippsly listener portal.
  parameters:
    IdQuery:
      name: id
      in: query
      required: true
      schema:
        type: integer
        minimum: 1
    PageQuery:
      name: page
      in: query
      required: false
      schema:
        type: integer
        minimum: 1
        default: 1
    LimitQuery:
      name: limit
      in: query
      required: false
      schema:
        type: integer
        minimum: 1
        maximum: 200
        default: 12
    IdempotencyKey:
      name: Idempotency-Key
      in: header
      required: true
      description: Reuse the same opaque key when retrying one checkout attempt.
      schema:
        type: string
        minLength: 16
        maxLength: 128
        pattern: '^[A-Za-z0-9._:-]+$'
    LyricsTrackIdPath:
      name: trackId
      in: path
      required: true
      description: Numeric ID of a track owned by the authenticated listener.
      schema:
        type: integer
        minimum: 1
    LyricsTrackIdQuery:
      name: trackId
      in: query
      required: true
      description: Numeric ID of a track owned by the authenticated listener.
      schema:
        type: integer
        minimum: 1
  responses:
    BadRequest:
      description: Invalid request
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
    Unauthorized:
      description: Missing, invalid, or expired website session
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
    Forbidden:
      description: Account or operation is not permitted
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
    NotFound:
      description: Resource not found
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
    ServerError:
      description: Server-side failure
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
    TooManyRequests:
      description: Request rate or operation cooldown exceeded
      headers:
        Retry-After:
          schema:
            type: integer
            minimum: 1
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
    ListenerLyrics:
      description: Synced, plain, or instrumental lyrics for the requested track
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ListenerLyricsResponse'
    ListenerV1BadRequest:
      description: Missing or invalid track ID
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ListenerV1ErrorResponse'
    ListenerV1Unauthorized:
      description: Missing, invalid, or expired listener App Password
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ListenerV1ErrorResponse'
    ListenerV1Forbidden:
      description: Listener account is restricted or not permitted
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ListenerV1ErrorResponse'
    ListenerV1NotFound:
      description: Track is not owned by the listener, or no lyrics were found
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ListenerV1ErrorResponse'
    ListenerV1MethodNotAllowed:
      description: Lyrics endpoints only accept GET
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ListenerV1ErrorResponse'
    ListenerV1ServerError:
      description: Database or internal server failure
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ListenerV1ErrorResponse'
  schemas:
    ErrorResponse:
      type: object
      properties:
        error:
          type: string
        code:
          type: string
        message:
          type: string
        moderated:
          type: boolean
      additionalProperties: true
    ListenerLyricsResponse:
      type: object
      required: [success, instrumental, lyrics, type, source, trackName, artistName, albumName]
      properties:
        success:
          type: boolean
          const: true
        instrumental:
          type: boolean
        lyrics:
          type: [string, 'null']
          description: Synced LRC or plain lyric text; null for instrumental tracks.
        type:
          type: [string, 'null']
          enum: [synced, plain, null]
        source:
          type: string
          const: lrclib
        trackName:
          type: string
        artistName:
          type: string
        albumName:
          type: [string, 'null']
      additionalProperties: false
    ListenerV1ErrorResponse:
      type: object
      required: [error]
      properties:
        error:
          type: object
          required: [code, message]
          properties:
            code:
              type: string
              examples: [lyrics_not_found]
            message:
              type: string
          additionalProperties: false
      additionalProperties: false
    MessageResponse:
      type: object
      required: [message]
      properties:
        message:
          type: string
      additionalProperties: true
    SuccessMessageResponse:
      allOf:
        - $ref: '#/components/schemas/MessageResponse'
        - type: object
          required: [success]
          properties:
            success:
              type: boolean
              const: true
    StorageRegionId:
      type: string
      enum: [eu, na, asia, au, multi]
    AlbumStorageRegionId:
      type: string
      description: A single storage region, or `mixed` when album tracks span regions.
      enum: [eu, na, asia, au, multi, mixed]
    StorageRegion:
      type: object
      required: [id, name, location, quota_multiplier]
      properties:
        id:
          $ref: '#/components/schemas/StorageRegionId'
        name:
          type: string
        location:
          type: string
        quota_multiplier:
          type: number
          minimum: 1
        recommended:
          type: boolean
      additionalProperties: true
    AppPasswordSummary:
      type: object
      required: [id, key_prefix, created_at]
      properties:
        id:
          type: integer
        key_prefix:
          type: string
        label:
          type: [string, 'null']
        created_at:
          type: integer
        last_used_at:
          type: [integer, 'null']
    AppPasswordCreated:
      allOf:
        - $ref: '#/components/schemas/AppPasswordSummary'
        - type: object
          required: [account_key]
          properties:
            account_key:
              type: string
              writeOnly: true
    CreatorShowcase:
      type: object
      required: [highlightedTracks]
      properties:
        highlightedTracks:
          type: array
          items:
            type: object
            required: [id, title, artCover, authorUsername, authorDisplay, authorAvatar, authorVerified]
            properties:
              id:
                type: integer
              title:
                type: string
              artCover:
                type: string
                format: uri
              authorUsername:
                type: string
              authorDisplay:
                type: string
              authorAvatar:
                type: string
                format: uri
              authorVerified:
                type: boolean
      additionalProperties: true
    ListenerUploadForm:
      type: object
      required: [mode, trackAudio, trackSource]
      properties:
        mode:
          type: string
          enum: [single, album]
        trackAudio:
          oneOf:
            - type: string
              format: binary
            - type: array
              items:
                type: string
                format: binary
          description: One file for `single`; at least three files for `album`.
        artCover:
          type: string
          format: binary
        trackTitle:
          oneOf:
            - type: string
            - type: array
              items:
                type: string
        trackArtist:
          type: string
        trackDescription:
          type: string
          maxLength: 500
        trackGenre:
          type: string
        trackExplicit:
          $ref: '#/components/schemas/FormBoolean'
        trackAI:
          $ref: '#/components/schemas/FormBoolean'
        albumName:
          type: string
        albumArtist:
          type: string
        albumGenre:
          type: string
        albumExplicit:
          $ref: '#/components/schemas/FormBoolean'
        musicbrainz_lookup:
          $ref: '#/components/schemas/FormBoolean'
        trackSource:
          type: string
          enum:
            - self_produced
            - cd_rip
            - vinyl_rip
            - digital_store
            - bandcamp
            - qobuz
            - itunes
            - amazon_music
            - beatport
            - direct_from_artist
            - other
        trackSourceCustom:
          type: string
        storageQuality:
          type: string
          enum: [aac, lossless]
        storageRegion:
          $ref: '#/components/schemas/StorageRegionId'
    FormBoolean:
      type: string
      enum: ['0', '1']
    UploadAccepted:
      type: object
      required: [success, message, mode, encode_job_id, isPrivate]
      properties:
        success:
          type: boolean
          const: true
        message:
          type: string
        mode:
          type: string
          enum: [single, album, folder]
        track_id:
          type: integer
        track_ids:
          type: array
          items:
            type: integer
        album_id:
          type: integer
        encode_job_id:
          type: string
          pattern: '^[a-f0-9]{1,12}$'
        isPrivate:
          type: boolean
        trackSource:
          type: string
        trackSourceCustom:
          type: [string, 'null']
    EncodeJob:
      type: object
      required: [job_id, status, tracks, created_at, updated_at]
      properties:
        job_id:
          type: string
        status:
          type: string
          enum: [pending, encoding, done, failed]
        tracks:
          type: array
          items:
            type: object
            required: [track_id, variants]
            properties:
              track_id:
                type: integer
              variants:
                type: object
                additionalProperties:
                  type: string
        error:
          type: [string, 'null']
        created_at:
          type: integer
        updated_at:
          type: integer
    StorageInformation:
      type: object
      required:
        - usedStorageBytes
        - totalStorageBytes
        - remainingStorageBytes
        - usedStorageFormatted
        - remainingStorageFormatted
        - membershipStorageGb
        - additionalStorageGb
        - totalStorageGb
        - trackCount
      properties:
        usedStorageBytes:
          type: integer
        totalStorageBytes:
          type: integer
        remainingStorageBytes:
          type: integer
        usedStorageFormatted:
          type: string
        remainingStorageFormatted:
          type: string
        membershipStorageGb:
          type: number
        additionalStorageGb:
          type: number
        totalStorageGb:
          type: number
        trackCount:
          type: integer
      additionalProperties: true
    StoragePricing:
      type: object
      required: [min_gb, max_gb, step_gb, purchasable, currency, currency_symbol, currency_display]
      properties:
        min_gb:
          type: integer
        max_gb:
          type: integer
        step_gb:
          type: integer
        purchasable:
          type: boolean
        currency:
          type: string
        currency_symbol:
          type: string
        currency_display:
          type: string
    StorageQuote:
      type: object
      required: [gb, currency, price_minor, price_formatted, crypto_min_gb, crypto_available]
      properties:
        gb:
          type: integer
        currency:
          type: string
        price_minor:
          type: integer
        price_formatted:
          type: string
        crypto_min_gb:
          type: integer
        crypto_available:
          type: boolean
      additionalProperties: true
    Economy:
      type: object
      required: [displayName, membershipTier, membershipName, products]
      properties:
        displayName:
          type: string
        membershipTier:
          type: integer
          minimum: 0
          maximum: 3
        membershipName:
          type: string
        regionalPricing:
          type: object
          additionalProperties: true
        access:
          type: object
          additionalProperties: true
        limits:
          type: object
          additionalProperties: true
        canUpgradeToPlus:
          type: boolean
        canUpgradeToPro:
          type: boolean
        canUpgradeToProducer:
          type: boolean
        products:
          type: array
          items:
            $ref: '#/components/schemas/EconomyProduct'
    EconomyProduct:
      type: object
      required: [id, prices]
      properties:
        id:
          type: string
        prices:
          type: object
          required: [currency, amount, display_price]
          properties:
            currency:
              type: string
            amount:
              type: string
            display_price:
              type: string
            exchange_rate:
              type: number
            discounts:
              type: [object, 'null']
              additionalProperties: true
            robux:
              type: [integer, 'null']
          additionalProperties: true
      additionalProperties: true
    PaymentStartRequest:
      type: object
      required: [product_type]
      properties:
        product_type:
          type: string
          enum:
            - newbie_membership
            - standard_membership
            - producer_membership
            - standard_upgrade
            - producer_upgrade
            - storage
        payment_provider:
          type: string
          enum: [stripe, nowpayments]
          default: stripe
        storage_gb:
          type: integer
          minimum: 8
          maximum: 100
      allOf:
        - if:
            properties:
              product_type:
                const: storage
          then:
            required: [storage_gb]
    PaymentStartResponse:
      type: object
      required: [checkout_url, product_type, requested_product_type, payment_provider]
      properties:
        checkout_url:
          type: string
          format: uri
        product_type:
          type: string
        requested_product_type:
          type: string
        payment_provider:
          type: string
          enum: [stripe, nowpayments]
        idempotent_replay:
          type: boolean
    PortalAuthor:
      type: object
      properties:
        authorUsername:
          type: string
        authorDisplay:
          type: string
        authorAvatar:
          type: [string, 'null']
        authorVerified:
          type: boolean
    PortalTrack:
      type: object
      required: [releaseID, releaseName, releaseAuthor, isExplicit, isPrivate]
      properties:
        releaseID:
          type: integer
        releaseName:
          type: string
        releaseAuthor:
          $ref: '#/components/schemas/PortalAuthor'
        artistName:
          type: string
        releaseGenre:
          type: [string, 'null']
        isExplicit:
          type: boolean
        isPrivate:
          type: boolean
        storageRegion:
          $ref: '#/components/schemas/StorageRegionId'
        additionalData:
          type: object
          properties:
            audioDuration:
              type: [string, number, 'null']
            releaseCoverArt:
              type: [string, 'null']
            releaseDescription:
              type: [string, 'null']
          additionalProperties: true
        albumDetails:
          oneOf:
            - type: boolean
            - type: object
              additionalProperties: true
      additionalProperties: true
    Pagination:
      type: object
      properties:
        currentPage:
          type: integer
        totalPages:
          type: integer
        total:
          type: integer
        perPage:
          type: integer
        hasNext:
          type: boolean
        hasPrevious:
          type: boolean
        totalTracks:
          type: integer
        totalPlaylists:
          type: integer
      additionalProperties: true
    AlbumSummary:
      type: object
      required: [albumId, title, isPrivate, createdAt, totalTracks, storageRegion]
      properties:
        albumId:
          type: integer
        title:
          type: string
        artist:
          type: [string, 'null']
        coverArt:
          type: [string, 'null']
        isPrivate:
          type: boolean
        createdAt:
          type: integer
        totalTracks:
          type: integer
        storageRegion:
          $ref: '#/components/schemas/AlbumStorageRegionId'
        owner:
          type: object
          additionalProperties: true
    AlbumList:
      type: object
      required: [albums, total]
      properties:
        albums:
          type: array
          items:
            $ref: '#/components/schemas/AlbumSummary'
        total:
          type: integer
    AlbumDetail:
      allOf:
        - $ref: '#/components/schemas/AlbumSummary'
        - type: object
          required: [tracks]
          properties:
            tracks:
              type: array
              items:
                $ref: '#/components/schemas/PortalTrack'
    TrackMetadata:
      type: object
      required: [trackTitle, trackDescription, trackComments, trackPrivate]
      properties:
        trackTitle:
          type: string
        trackDescription:
          type: string
        trackComments:
          type: boolean
        trackPrivate:
          type: boolean
    TrackEditRequest:
      type: object
      required: [trackId]
      properties:
        trackId:
          oneOf:
            - type: integer
            - type: string
        action:
          type: string
          enum: [update, delete]
          default: update
        trackMetadata:
          $ref: '#/components/schemas/TrackMetadata'
    AlbumEditRequest:
      type: object
      required: [album_id, title]
      properties:
        album_id:
          type: integer
          minimum: 1
        title:
          type: string
          minLength: 1
        artist:
          type: string
    AlbumDeleteResponse:
      allOf:
        - $ref: '#/components/schemas/MessageResponse'
        - type: object
          required: [album_id, tracks_deleted]
          properties:
            album_id:
              type: integer
            tracks_deleted:
              type: integer
            partial_cleanup:
              type: boolean
            failed_tracks:
              type: array
              items:
                type: object
                additionalProperties: true
    PlaylistSummary:
      type: object
      required: [playlist_id, playlist_name, isPrivate, created_at]
      properties:
        playlist_id:
          oneOf:
            - type: integer
            - type: string
        playlist_name:
          type: string
        playlist_description:
          type: [string, 'null']
        isPrivate:
          type: boolean
        created_at:
          type: integer
        cover_art:
          type: [string, 'null']
        track_count:
          type: integer
    PlaylistList:
      type: object
      required: [pagination, playlists]
      properties:
        pagination:
          $ref: '#/components/schemas/Pagination'
        playlists:
          type: array
          items:
            $ref: '#/components/schemas/PlaylistSummary'
    PlaylistDetail:
      allOf:
        - $ref: '#/components/schemas/PlaylistSummary'
        - type: object
          required: [tracks, pagination]
          properties:
            tracks:
              type: array
              items:
                $ref: '#/components/schemas/PortalTrack'
            pagination:
              $ref: '#/components/schemas/Pagination'
            owner:
              type: object
              additionalProperties: true
    PlaylistEditRequest:
      type: object
      required: [playlist_id, action, playlist_name]
      properties:
        playlist_id:
          type: integer
        action:
          type: string
          const: edit
        playlist_name:
          type: string
          minLength: 1
        playlist_description:
          type: string
        isPrivate:
          type: integer
          enum: [1]
    PlaylistDeleteRequest:
      type: object
      required: [playlist_id, action]
      properties:
        playlist_id:
          type: integer
        action:
          type: string
          const: delete
    PlaylistTracksRequest:
      oneOf:
        - type: object
          required: [playlist_id, action, track_id]
          properties:
            playlist_id:
              type: integer
            action:
              type: string
              enum: [add, remove]
            track_id:
              type: integer
        - type: object
          required: [playlist_id, action, tracks]
          properties:
            playlist_id:
              type: integer
            action:
              type: string
              const: reorder
            tracks:
              type: array
              items:
                type: object
                required: [track_id, position]
                properties:
                  track_id:
                    type: integer
                  position:
                    type: integer
                    minimum: 1
    MigrationStartRequest:
      type: object
      required: [to_region]
      properties:
        to_region:
          $ref: '#/components/schemas/StorageRegionId'
        track_ids:
          type: array
          items:
            type: integer
        album_ids:
          type: array
          items:
            type: integer
        full_library:
          type: boolean
      anyOf:
        - required: [track_ids]
        - required: [album_ids]
        - properties:
            full_library:
              const: true
          required: [full_library]
    MigrationStartResponse:
      type: object
      required: [success, message, migration_ids, job_count]
      properties:
        success:
          type: boolean
          const: true
        message:
          type: string
        migration_ids:
          type: array
          items:
            oneOf:
              - type: integer
              - type: string
        job_count:
          type: integer
    MigrationQuotaExceeded:
      type: object
      required: [error, code, storage]
      properties:
        error:
          type: string
        code:
          type: string
          const: migration_quota_exceeded
        storage:
          type: object
          required: [currentUsageBytes, projectedUsageBytes, totalQuotaBytes, additionalRequiredBytes]
          properties:
            currentUsageBytes:
              type: integer
            projectedUsageBytes:
              type: integer
            totalQuotaBytes:
              type: integer
            additionalRequiredBytes:
              type: integer
    MigrationAlreadyActive:
      type: object
      required: [error, code, active_migration]
      properties:
        error:
          type: string
        code:
          type: string
          const: migration_already_active
        active_migration:
          type: object
          required: [migration_id, from_region, to_region, status]
          properties:
            migration_id:
              type: string
            from_region:
              $ref: '#/components/schemas/StorageRegionId'
            to_region:
              $ref: '#/components/schemas/StorageRegionId'
            status:
              type: string
    EncodingProgress:
      type: object
      required: [active, pending, processing, done, failed, total, tracks, percent]
      properties:
        active:
          type: boolean
        pending:
          type: integer
        processing:
          type: integer
        done:
          type: integer
        failed:
          type: integer
        total:
          type: integer
        tracks:
          type: object
          required: [pending, processing, done, failed, total]
          properties:
            pending:
              type: integer
            processing:
              type: integer
            done:
              type: integer
            failed:
              type: integer
            total:
              type: integer
        percent:
          type: integer
          minimum: 0
          maximum: 100
        current:
          type: object
          properties:
            job_id:
              type: string
            status:
              type: string
              enum: [pending, encoding]
            tracks_done:
              type: integer
            tracks_total:
              type: integer
            variants_done:
              type: integer
            variants_total:
              type: integer
            percent:
              type: integer
              minimum: 0
              maximum: 100
      additionalProperties: false
    MigrationProgress:
      type: object
      required: [active, pending, processing, done, failed, total]
      properties:
        active:
          type: boolean
        pending:
          type: integer
        processing:
          type: integer
        done:
          type: integer
        failed:
          type: integer
        total:
          type: integer
        current:
          type: object
          properties:
            migration_id:
              oneOf:
                - type: integer
                - type: string
            track_id:
              type: integer
            album_id:
              type: [integer, 'null']
            album_name:
              type: [string, 'null']
            from_region:
              type: string
            to_region:
              type: string
            current_step:
              type: string
            current_object:
              type: [string, 'null']
            objects_completed:
              type: integer
            total_objects:
              type: integer
            percent:
              type: number
          additionalProperties: true
      additionalProperties: true
